name: Build and Deploy Docs

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    env:
      PAGES_ARTIFACT_NAME: docs-pages-${{ github.run_id }}-${{ github.run_attempt }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Install Workspace and Doc Dependencies
        run: |
          uv sync --group dev

      - name: Build Sphinx
        run: |
          source .venv/bin/activate
          cd docs
          make html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: ${{ env.PAGES_ARTIFACT_NAME }}
          path: docs/_build/html

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          artifact_name: ${{ env.PAGES_ARTIFACT_NAME }}